/* Styles for Stack Overflow Recreation Project
by Darryl Mendonez, David Stichter, Sean Conaty, and Shreyans Patel */


/* Darryl Mendonez's CSS styles: */

.top-questions-stats {
  text-align: center;
}

.borderless td, .borderless th {
    border: none !important;
}

.asked {
  float:right;
}

/* Shreyans Patel's CSS styles: */

.navbar-brand {
  margin-left: 20px;
}