.strike {
  text-decoration: line-through;
}
h1{
  text-align: center;
}
#alertField{
  background-color: red;
}
#todoLabel{
  text-align: center;
  padding-bottom: 2px;
  font-size: 18px;
}
#todoTable{
  font-family: "Arial Black";
  color: #6CC417;
}

